absl-py==0.10.0
attrs==20.3.0
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
dill==0.3.3
future==0.18.2
googleapis-common-protos==1.53.0
idna==2.10
iniconfig==1.1.1
kazoo==2.8.0
numpy==1.20.1
packaging==20.9
pluggy==0.13.1
promise==2.3
protobuf==3.15.6
py==1.10.0
pyparsing==2.4.7
pytest==6.2.2
pyzmq==22.0.2
requests==2.25.1
six==1.15.0
tensorflow-datasets==4.2.0
tensorflow-metadata==0.28.0
termcolor==1.1.0
toml==0.10.2
tqdm==4.59.0
typeguard==2.11.1
urllib3==1.26.3
zmq==0.0.0
zookeeper==1.2.0
